@import url('../../../colours.css');
.inputColourWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  font-size: var(--smallSize--1);
  color: var(--text);
  margin-bottom: 5px;
  margin-top: 10px;
}
.wrapper {
  background-color: var(--text);
  width: 190px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-radius: 4px;
}
.colorTitle {
  color: var(--bgr);
}
.colorRect {
  margin-left: 10px;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  cursor: pointer;
}
.inpWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (min-width: 475px) {
  .inputColourWrapper {
    margin-right: 20px;
  }
}
