.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
  width: 250px;
}
.inputColourArea {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  background: var(--text);
  width: 250px;
  justify-content: space-around;
}
