.wrapper {
  display: flex;
  margin-top: 40px;
}
.colouredCard {
  height: 105px;
}
@media (min-width: 300px) {
  .colouredCard {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (min-width: 700px) {
  .colouredCard {
    width: 300px;
  }
  .wrapper {
    flex-direction: row;
    align-items: center;
  }
}
