.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--bgr);
  border: 1px solid var(--text);
  padding: 40px;
  max-width: 1000px;
  margin: 30px auto;
}
.wrapper * {
  color: var(--text);
}
