@import url('../../../../colours.css');
@import url('../../../../fontSize.css');

.menuBtn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  margin-left: 10px;
  width: 30px;
  z-index: 10000;
}
.menuBtn:hover div {
  background-color: var(--addColour--2);
  transition: 0.3s;
}
.menuBtn div {
  transition: 0.3s;
  background-color: var(--text);
  border-radius: 20px;
  height: 2px;
}
.topLine {
  width: 15px;
}
.topLineAct {
  width: 30px;
}
.bottomLineAct {
  width: 15px;
  margin-top: 5px;
}
.bottomLine {
  width: 30px;
  margin-top: 5px;
}
/* menu mobile */
.menuMobile {
  transition: left 0.4s ease-in-out;
  text-align: center;
  left: 0px;
  position: absolute;
  top: 0;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  background-color: var(--bgr);
}
.menuMobile ul {
  padding: 20px;
  display: inline-block;
}
.menuMobile ul li {
  cursor: pointer;
  padding-bottom: 20px;
  text-align: center;
  transition: 0.4s;
}
.menuMobile ul li a {
  color: var(--text);
  font-size: var(--medSize--4);
  transition: 0.4s;
}
.menuMobile ul li a:hover {
  color: var(--addColour--2);
  transition: 0.4s;
}
