.descirption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;
}
.descirption * {
  color: var(--text);
}
.descItem {
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: var(--smallSize--1);
}
