@import url('../../../../colours.css');
@import url('../../../../fontSize.css');
/* transition */
.title,
.title:hover,
.dropdown li,
.dropdown li:hover {
  transition: 0.5s;
}
/* end transition*/
.title {
  color: var(--text);
  opacity: 0.8;
  font-size: var(--smallSize--2);
  cursor: pointer;
  width: 220px;
  text-align: left;
}
.downArrow::before {
  content: '\276F';
}
.upArrow::before {
  content: '\276E';
}
.downArrow,
.upArrow {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  padding: 0 10px;
  display: inline-block;
}
.title:hover {
  opacity: 1;
}
.dropdown {
  position: absolute;
  width: 300px;
  text-align: left;
  background-color: var(--bgr);
  border: 1px solid var(--text);
  border-radius: 20px;
  padding: 20px 0;
}
.dropdown li {
  color: var(--text);
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 500;
}
.dropdown li:hover {
  background-color: var(--addColour--2);
  color: var(--bgr);
}
