.Colours {
  position: relative;
  padding: 20px;
}

.bgr {
  background: linear-gradient(
    to left,
    red 0%,
    #ff0 17%,
    lime 33%,
    cyan 50%,
    blue 66%,
    #f0f 83%,
    red 100%
  );
  width: 260px;
  height: 15px;
  border-radius: 20px;
}
.linePicker {
  position: absolute;
  left: 50%;
  z-index: 10000000;
  width: 15px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}
