.wrapper {
  margin-top: 50px;
}
.title {
  font-size: var(--smallSize--1);
  color: #fff;
  text-align: left;
  margin-bottom: 20px;
}
.list {
  display: grid;
  gap: 20px;
}
.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}
.card {
  width: 300px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card div {
  font-size: var(--medSize--3);
  font-weight: 500;
}
.cardInfo {
  width: 100%;
  margin-top: 10px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
}
.row div {
  font-size: var(--smallSize--2);
}
@media (min-width: 300px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(278px, max-content));
  }
  .card {
    width: 278px;
  }
}
@media (min-width: 345px) {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(290px, max-content));
  }
  .card {
    width: 290px;
  }
}
